:root {
    --card_width: 220px;
    --card_height: calc(var(--card_width) * 1.6)
}

/* USEFUL */

.float_left {
    display: flex;
    float: left;
}

.clear_flex {
    clear: both;
}

.inline_block {
    display: inline-block;
}

/* PAGE */

.result_container {
    min-height: 50px;
    /* width: 80%; */
    border: 3px solid grey;
    background-color: lightgray;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;

    /* extra styles */
    grid-gap: 0.5rem;
}

.grid_col1 {
    grid-column-start: 1;
}

.grid_col2 {
    grid-column-start: 2;
}

.card {
    background-color: rgb(255, 56, 56);
    width: var(--card_width);
    height: var(--card_height);
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    margin: 2px;
}

.card_title {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin: 3px 4px 3px 4px;
    padding: 4px;
    border: solid 2px black;
    gap: 5px;
}

.card_image {
    display: block;
    width: calc(var(--card_width) - 10%);
    height: calc(var(--card_width) - 10%);
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    margin: 0px auto 3px auto;
}

.card_type_cont {
    margin: 0 0 5px 10px;
    gap: 3px;
}

.card_type {
    border-radius: 10px;
    border: solid 2px black;
    padding: 2px 5px 2px 5px;
    background-color: white;
}

.card_stats_table {
    border: solid 2px black;
    width: 90%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%, 0.6);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    paint-order: stroke fill;
}