/* USEFULENESS */
:root {
    --dark_primary_color: rgb(49, 44, 44);
    --dark_second_color: rgb(100, 94, 94);
    --dark_accent_color: yellow;
    --light_primary_color: white;
    --light_second_color: rgb(196, 203, 208);
    --light_accent_color: blue;
}

/* COLORING */

.primary_color {
    background-color: var(--dark_primary_color);
    color: var(--dark_accent_color);
}

.secondary_color {
    background-color: var(--dark_second_color);
}

/* ALARM */

.alarm_list {
    display: flex;
    flex-direction: column;
}

.alarm {
    display: flex;
    float: left;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}

.alarm_time {
    background-color: var(--dark_second_color);
    color: var(--dark_accent_color);
    padding: 5px;
    border-radius: 5px;
}